body{
    padding: 5px;
    min-width: 100px;
}
h1{
    text-align: center;
}
#första_div{
    display: flex;
    flex-direction: column;
    background-image: url(./Img/snow_winter_trees.jpg);
    height: 250px;
    margin: 40px;
    border-radius: 20px;
    border: 3px red solid;
}

#inuti_andra_div{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 20px;
    border: 3px solid red;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: transparent;
}
#snart_är_det_vinter{
    font-family: Courier;
}
.small_img{
    width: 100px;
    height: auto;
    border: 2px black solid;
    border-radius: 4px;
    padding: 5px;
}

#andra_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px red solid;
    padding: 10px;
}


#div1_andra_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    border: 2px red solid;
    border-radius: 4px;
    width: fit-content;
    padding: 10px;
    height: 700px;
}

#div2_andra_div{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 700px;    
    border: 2px red solid;
    border-radius: 4px;
}
#christmas_img{
    width: 200px;
    border: 2px red solid;
}